
<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-success">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home</a>
      <a class="nav-item nav-link" (click)="goToUsers()">Users</a>
  </div>
</nav>

<!-- main app container -->

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-6 offset-sm-3">
            <h1>Upload file</h1>
            <form [formGroup] = "formGroup" (ngSubmit)="onSubmit()">
             <input type="file" (change)="onFileChange($event)"  accept="text/*" />
             <input type="submit" [disabled]="formGroup.invalid" value="upload" />
            </form>
          </div>
      </div>
  </div>
</div>